body {
    background-color: white;
    font-family: arial;
}

.container {
    margin-top: 100px;
}

form {
    margin: 20px 0px 20px;
}

input {
    margin: 2px;
}

.btn btn-secondary {
    margin: 5px;
}
